canvas {
  border-width: .5em;
  border-style: solid;
  border-radius: 10px;
  border-color: gray;
}

h1 {
  text-align: center;
  font-family: 'Nosifer';
  font-size: 3em;
  color: gray;
  text-shadow: .125em .125em .250em black, 0em 0em 1.5625em black, 0 0 .3125em black;
}

.theBoard {
  text-align: center;
}

body {
  background: url("images/desert.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1 {
  font-size: 3em;
  color: white;
}
